/.vscode
/db.sqlite3
/static_root
/naturwb/migrations/
naturwb/migrations
__pycache__/
sync.ffs_db
/naturwb/functions/sync.ffs_db

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
naturwb/functions/sync.ffs_db
