<!doctype html>
{% load static %}
<html lang="de">
<head>
  <title>NatUrWB</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <meta name="description" content="Ein interaktives Webtool zum bestimmen der naturnahen urbanen Wasserbilanz (NatUrWB) für ein beliebiges Gebiet in Deutschland als Referenzwert. Dieser Referenzwert beschreibt die Wasserbilanz eines Gebietes die sich einstellen würde, wenn keine Stadt vorhanden wäre.">

  <!-- OpenGraph protocol -->
  <meta property="og:title" content="NatUrWB"/>
  <meta property="og:type" content="Website"/>
  <meta property="og:description" content="Ein interaktives Webtool zum bestimmen der naturnahen urbanen Wasserbilanz (NatUrWB) für ein beliebiges Gebiet in Deutschland als Referenzwert. Dieser Referenzwert beschreibt die Wasserbilanz eines Gebietes die sich einstellen würde, wenn keine Stadt vorhanden wäre."/>
  <meta property="og:url" content="www.naturwb.de"/>
  <meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'Logo_OG_1200_630.png' %}"/>
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:alt" content="The NatUrWB-Logo" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'Logo_OG_638_630.png' %}"/>
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:alt" content="The NatUrWB-Logo" />
  <meta property="og:image:width" content="638" />
  <meta property="og:image:height" content="630" />
  <meta property="og:locale" content="de_DE" />

  {% block head_first %}{% endblock %}
  <!-- load bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <!-- for mobile friendly views -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static "css/mobile-menu.css" %}">

  <!-- extra styles -->
  <link rel="stylesheet" href="{% static 'css/custom_base.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom_bootstrap_primary.css' %}">

  {% block head %}{% endblock %}
</head>
{% block body_all %}
<body style="background-color: #F2F2F2;"> 
  <!-- Navigation Pane -->
  <p class="container-fluid sticky-top">
    <table class="header">
      <tr>
        <td>
          <a href="https://www.uni-freiburg.de/" target="_blank">
            <img src="{% static "img/ihf_header_left.gif" %}" height="165" border="0" align="left">
          </a>
        </td><td height="165" width="100%" style="position:relative;" >
          <img src="{% static "img/ihf_header_center.gif" %}" width="100%" height="165" border="0" style="position:absolute;top:0;">
          <div class="container pt-md-2 pl-0 pr-0 pl-md-2 pr-md-2 pl-sm-1 pr-sm-1" style="position:absolute;top:0;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-toggler" style="z-index:100;">
              <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">
                  <img type="image/png" src="{% static "Logo_header.png" %}" width="75px" height="75px" alt="The NatUrWB-Logo" class="d-none d-sm-inline">
                  <span class="align-middle" style="font-size:34px;">NatUrWB</span>
                </a>
              </div>
              <!-- Mobile Menu -->
              <button class="navbar-toggler second-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#menuitems" aria-controls="menuitems"
                      aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
              </button>

              <!-- App specific Menu -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item "><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li class="nav-item "><a href="{% url 'method' %}" class="nav-link">Methode</a></li>
                <li class="nav-item "><a href="{% url 'get_reference' %}" class="nav-link">Referenz abfragen</a></li> 
              </ul>
            {% if user.is_authenticated %}
            <!-- Login Information -->
            <ul class="nav navbar-nav">
              <li class="nav-item dropdown">
                {% block login_navbar %}
                  <a class="nav-link dropdown-toggle" href="#" id="navbarLoginDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:30px">
                    {% if user.is_authenticated %}{{ user.username }} {% endif %}<i class="bi bi-person-circle"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarLoginDropdown">
                      <a href="{% url 'admin:index' %}" class="dropdown-item">Admin</a>
                      <a href="{% url 'admin:logout' %}" class="dropdown-item">Log out</a>
                  </div>
                {% endblock login_navbar %}
              </li>
            </ul>
            {% endif %}
  
          </div>
        </nav>
        </td><td>
          <a href="https://www.hydro.uni-freiburg.de/" target="_parent" class="d-none d-md-inline">
            <img src="{% static "img/ihf_header_right.gif" %}" width="205" height="165" border="0"  align="right">
          </a>
        </td>
      </tr>
    </table>
  </p>

  <!-- Page content -->
  <div class="container shadow
              col-xl-9 col-lg-11 col-12
              mt-md-2
              pb-md-2 mb-md-4
              pl-0 pr-0 pl-md-2 pr-md-2 pl-sm-1 pr-sm-1"
       style="background-color: #FFFFFF;"
       id="main_page">
    <div class="container-fluid">
      {% if debug %}
        <div class="container-fluid alert alert-danger" role "alert">
          <h3>
            !!! This website is in debuging mode !!!
          </h3>
        </div>
      {% endif%}
      {% block unrelease_message %}{% endblock %}
      {% block content %}{% endblock %}
    </div>


    <!-- Footer -->
    <div class="col-auto d-inline-flex position-relative fixed-bottom"
          style="left:50%; transform: translate(-50%, 0%);">
      <a href="{% url 'impressum' %}" class="me-2">Impressum</a>
      <a href="{% url 'datenschutz' %}" class="me-2">Datenschutzerklärung</a> 
    </div>

    <div class="col-auto position-sticky
                d-inline-flex justify-content-end
                fixed-bottom
                " style="left:100%">
      &#169; HyFr - Max Schmit (2023)
    </div>
  </div>

  <!-- Skripte -->
  {% block scripts_first %}{% endblock %}

  <!-- load JQuery -->
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  <!-- Mobile view Navbar -->
  <script defer>
    let activate_navbar = () => {
      let path = document.location.href;
      let navitems = document.querySelectorAll("#menuitems > .navbar-nav > .nav-item > a");
      navitems.forEach((el) => {
        if (el.href==path){
          el.parentElement.classList.add('active')
        } else {
          el.parentElement.classList.remove('active')
        }
      })
    }
    activate_navbar()
    {% comment %} mobile button {% endcomment %}
    document.querySelector("button.second-button").addEventListener("click",
      ()=>{$('.animated-icon2').toggleClass('open');}
    )
  </script>

  {% block scripts %}{% endblock %}

</body>
{% endblock body_all %}