{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Naturnahe Urbane Wasserbilanz (NatUrWB)</h2>
<p>
  Aktuell sind von der Gesamtfläche der Bundesrepublik Deutschland 14,35&nbsp;%<sup><a href="#quelle-Umweltrechner">1</a></sup> (Stand 31.12.2019) Siedlungs- und Verkehrsflächen und jeden Tag kommen durchschnittlich 62,7&nbsp;ha<sup>1</sup> hinzu (2016-2019). Auf diesen Flächen beträgt der Versiegelungsgrad 45.1&nbsp;%<sup><a href="#quelle-Umweltrechner">1</a></sup>, was die Wasserbilanzkomponenten erheblich beeinträchtigt. Im Allgemeinen kommt es durch die Versiegelung zu einem erhöhten Oberflächenabfluss und somit zu einer geringeren Grundwasserneubildung und einer geringeren Evapotranspiration.
</p><p>
  Diesem Effekt wird mittlerweile versucht, mit Regelungen zu mehr Versickerungsanlagen entgegenzuwirken. Vor 2010 war es noch üblich Niederschlagswasser aus urbanen Gebieten in Mischwasserkanäle einzuleiten und aus dem urbanen Gebiet abzuleiten. Seit 2009 verpflichtet das Wasserhaushaltsgesetz des Bundes (WHG) mit §&nbsp;55 dazu, bei Neubauten das anfallende Niederschlagswasser getrennt zu sammeln und wenn möglich ortsnah versickern zu lassen, zu verrieseln oder über eine Trennwasserkanalisation einem Oberflächengewässer zuzuführen.<sup><a href="#quelle-WHG">2</a></sup> Allerdings ist in den meisten Fällen nicht bekannt, ob die dadurch entstehenden Versickerungsanlagen nicht sogar bewirken, dass die "natürliche" Infiltration überstiegen wird, was zu anderen negativen Folgen führen könnte.<sup><a href="#quelle-Weiler">3</a></sup>
</p>
<p>
  Auch auf unversiegelten Flächen in Siedlungsgebieten wird der Wasserhaushalt verändert, indem z. B. private Gärten oder Parkanlagen gegossen werden.<sup><a href="#quelle-Weiler">3</a></sup>
</p><p>
  Die Summe dieser Effekte machen deutlich, dass mit steigender Urbanisierung auch der anthropogene Einfluss auf den Wasserhaushalt steigt. Allerdings wird diese Veränderung bisher nicht quantifiziert, da der "natürliche" Zustand des Wasserhaushaltes auf einer Siedlungsfläche nicht einheitlich definiert ist. Ohne die Kenntnis des "natürlichen" Zustandes als Referenzwert lassen sich die Einflüsse durch die Urbanisierung nicht quantifizieren, was eine gesteuerte Zielsetzung und eine Einordnung der getroffenen Maßnahmen durch die Siedlungsplanung erschwert.
</p><p>
  Aus dieser Motivation heraus wurde von der Professur für Hydrologie der Universität in Freiburg ein Modell (Schmit 2022 <sup><a href="#quelle-Schmit"></a></sup>, Schmit 2023 <sup><a href="#quelle-TdH"></a></sup>) entwickelt, mit dem der Referenzwert für die naturnahe urbane Wasserbilanz (NatUrWB) für einzelne Gebiet in Deutschland bestimmt werden kann. Dieses Modell baut auf dem Wasserbilanzmodell RoGeR_WB_1D der Uni Freiburg auf und simuliert für alle Flächen Deutschlands einen naturnahen Wasserhaushalt.
  <br>Im Rahmen der Arbeit wurde dieses Webtool erstellt, mit dem eine einheitliche NatUrWB-Referenz für jede Fläche Deutschlands abgefragt werden kann. Unter <a href="/get_ref/">Referenz abfragen</a> können Sie sich für ein beliebiges Gebiet in Deutschland, die naturnahe Wasserbilanz bestimmen lassen.</p>
<br>

<div class="quellen" style="font-size: 13px">
  <hr>
  <ol>
    <li id="quelle-Umweltrechner">Arbeitskreis Umweltökonomische Gesamtrechnungen der Länder (2020).
      Umweltökonomische Gesamtrechnungen der Länder. Tabellenband.
      Online verfügbar unter <a target="_blank" rel="noopener" href="https://www.statistikportal.de/de/ugrdl">https://www.statistikportal.de/de/ugrdl</a> (abgerufen am 28.12.2020).</li>
    <li id="quelle-WHG">Deutscher Bundestag (31.07.2009): Wasserhaushaltsgesetz. WHG, vom 31.07.2009 (BGBl. I S. 2585), das zuletzt durch Artikel 1 des Gesetzes vom 19.06.2020 (BGBl. I S. 1408) geändert worden ist. In: BGBl. I (Bundesgesetzblatt Teil I).</li>
    <li id="quelle-Weiler">Weiler, Markus; Schütz, Tobias; Schaffitel, Axel; Koelbing, Merle; Steinbrich, Andreas; Brendt, Thomas (2019): Der naturnahe Wasserhaushalt als Leitbild in der Siedlungswasserbewirtschaftung. Analyse der Langzeitauswirkungen auf Grundwasserneubildung, Verdunstung und Abflussbildung im urbanen Raum. Hg. v. Professur für Hydrologie, Fakultät für Umwelt und natürliche Ressourcen, Universität Freiburg (Freiburger HydroNotes). Online verfügbar unter <a target="_blank" rel="noopener" href="http://www.hydrology.uni-freiburg.de/publika/hydronotes/HNS_005.pdf">http://www.hydrology.uni-freiburg.de/publika/hydronotes/HNS_005.pdf</a>, zuletzt geprüft am 10.02.2021.</li>
    <li id="quelle-Schmit">Schmit, Max; Leistert, Hannes; Steinbrich, Andreas; Weiler, Markus (2022): Webtool zur Ermittlung der naturnahen urbanen Wasserbilanz (NatUrWB), Korrespondenz Wasserwirtschaft, DWA, <a target="_blank" rel="noopener" href="https://doi.org/10.3243/kwe2022.09.002">DOI:10.3243/kwe2022.09.002</a>. Online verfügbar unter <a target="_blank" rel="noopener" href="https://freidok.uni-freiburg.de/data/229574">https://freidok.uni-freiburg.de/data/229574</a>, zuletzt geprüft am 20.12.2022.</li>
    <li id="quelle-TdH">Schmit, Max; Steinbrich, Andreas; Leistert, Hannes; Weiler, Markus (2023): Webtool zur Bestimmung der naturnahen urbanen Wasserbilanz (NatUrWB) als deutschlandweiter, einheitlicher Referenzzustand, Tagungsband / Forum zur Hydrologie und Wasserbewirtschaftung, 44.23, DWA. <a target="_blank" rel="noopener" href="https://doi.org/10.6094/UNIFR/237475">DOI:10.6094/UNIFR/237475</a>. Online verfügbar unter <a target="_blank" rel="noopener" href="https://freidok.uni-freiburg.de/data/237475">https://freidok.uni-freiburg.de/data/237475</a>, zuletzt geprüft am 20.12.2023.</li>
  </ol>
</div>

{% endblock %}

{% block scripts %}
  <script src={% static 'js/enum_references.min.js' %} defer></script>
{% endblock %}