{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="text">
  <h2>Wie wird die NatUrWB-Referenz bestimmt?</h2>
  <p>
      Um zu verstehen, was hinter der bestimmten <b>nat</b>urnahen <b>u</b>rbanen <b>W</b>asser-<b>B</b>ilanz (NatUrWB) Referenz steht, ist im Folgenden die Vorgehensweise erläutert. Für ein Planungsgebiet in Siedlungen wird als Referenzzustand des Wasserhaushaltes der Wasserhaushalt des gleichen Gebietes mit nicht urbaner Landnutzung definiert. Hierbei wird die umliegende heutige Landnutzung als Kulturland ohne Siedlungsanteile auf gleichen Böden in ähnlicher Lage angenommen. Diese Herangehensweise wurde von einer Arbeitsgruppe im Rahmen des Projektes <a target="_blank" rel="noopener" href="https://bmbf.nawam-rewam.de/projekt/wasig/">WaSiG</a> entwickelt<sup>1</sup>.
      <br>Grundsätzlich basieren die Werte auf Simulationen mit dem <a target="_blank" rel="noopener" href="https://www.hydrology.uni-freiburg.de/roger/">RoGeR_WB_1D</a> Wasserbilanz-Modell der Uni Freiburg. Hierfür musste ein Set aus Wetterdaten und Bodenprofilen erstellt werden. Im Folgenden werden die eingehenden Daten näher erläutert. 
  </p>
  <h4>Wetterdaten</h4>
  <p>
    Um einzelne Flächen zu simulieren, wurde zuerst aus den Wetter-Stationen des Deutschen Wetterdienstes (DWD) die Stationen mit ausreichend und qualitativ guten Daten für die Wasserbilanz-Simulationen ausgewählt. Diese Selektion ergab 754 mögliche Stationen um den Zeitraum vom 01.01.2009 bis zum 31.12.2019 mit 10-minütigen Niederschlagsdaten simulieren zu können. 
    <br>Bestehende Datenlücken einzelner Stationen wurden anschließend durch eine Regionalisierung von benachbarten Stationen aufgefüllt. Hierfür wurden die regionalisierten, mehrjährigen Rasterdaten vom DWD, die den Zeitraum von 1981 (ET: von 1991) bis 2010 berücksichtigen, herangezogen. Daraus wurden die jährlichen Wichtungsfaktoren für die Temperatur- und die Evapotranspirationsdaten zwischen den Stationen bestimmt. Für den Niederschlag wurde hierfür ein halbjährlicher Wichtungsfaktor für Sommer (April-September) und Winter (Oktober-März) bestimmt.
  </p><p>
    Anschließend wurden die Wetterdaten auf die mehrjährigen Stationsmittelwerte normiert, um die jährlichen Schwankungen auszugleichen. Dies ist in den folgenden zwei Diagrammen näher erläutert. Hier wurde jeweils für die Temperaturen bzw. den Niederschlag, der Unterschied zum mehrjährigen Mittelwert dargestellt. Dabei wird der Niederschlag als Quotient des gemessenen jährlichen Mittelwertes zum mehrjährigen (1981-2010) Mittelwert angezeigt. Liegt der Quotient bei 1, entspricht das gewählte Jahr einem durchschnittlichen Klimajahr. Ist der Quotient über eins, handelt es sich um ein niederschlagsreicheres Jahr als der langjährige Durchschnitt. Bei der Temperatur wird die absolute Differenz zum mehrjährigen Mittelwert angezeigt. 
    <br>Des Weiteren ist der Mittelwert dieses Quotienten, bzw. Differenz, über die 11&nbsp;Jahre Simulationsdauer als gestrichelte Linie dargestellt. Durch die orangenen Linien lässt sich erkennen, dass der Zeitraum von 2009 bis 2019 trockener und wärmer als der langjährige Mittelwert ist. Die blauen Linien zeigen den Verlauf der korrigierten Wetterdaten an. Dieser liegt für den Niederschlag im Mittel bei eins und entspricht daher dem langjährigen Mittel.
  </p>
    <br><img src="{% static '/plots/02_06_measured_yearly_div_multi_annual_81-10_adjust-orig_n.png' %}" class="img-fluid" alt="Ein Diagramm des Verhältnisses des jährlichen Mittelwertes zum mehrjährigen Mittelwert des Niederschlags" style="max-width:600px">
    <img src="{% static '/plots/02_06_measured_yearly_div_multi_annual_81-10_adjust-orig_t.png' %}" class="img-fluid" alt="Ein Diagramm des Verhältnisses des jährlichen Mittelwertes zum mehrjährigen Mittelwert der Temperatur" style="max-width:600px">
  <p>
    Die Wetterdaten weisen also weiterhin eine jährliche Schwankung auf, entsprechen aber über elf Jahre gemittelt dem langjährigen Klimamittel. Folglich sind die erhaltenen NatUrWB-Referenzwerte auch als langjährige Mittelwerte anzusehen.
  </p>
  <h4>Bodenprofile</h4>
  <p>
    Um die Böden für die Simulationen der Wasserbilanz zu parametrisieren, wurde die <a target="_blank" rel="noopener" target="_blank" rel="noopener" href="https://www.bgr.bund.de/DE/Themen/Boden/Informationsgrundlagen/Bodenkundliche_Karten_Datenbanken/BUEK200/buek200_node.html">Bodenübersichtskarte</a> (BÜK) der Bundesanstalt für Geologie und Rohstoffe herangezogen. In dieser sind für ganz Deutschland die Böden in Bodengesellschaften gruppiert und ihr geografisches Auftreten definiert. Jede Bodengesellschaft besteht aus mehreren Bodenprofilen mit den jeweiligen Bodenhorizonten.
    <br>Die Ableitung der RoGeR Parameter aus der BÜK ist in Anlehnung an Steinbrich et al. (2018)<sup>1</sup> geschehen. Hierbei wurde für jeden Bodenhorizont mithilfe der Pedotransferfunktionen von Wessolek et al. (2009)<sup>2</sup> <i>"die gesättigte hydraulische Leitfähigkeit (K<sub>sat</sub>), die nutzbare Feldkapazität (nFK), die Luftkapazität (LK), sowie die Funktion des Horizontes als Basis des Feinbodens (Gestein, Stauhorizont, Grundwasserbeeinflussung) ermittelt."</i> 
    <br>Diese Horizontparameter wurden anschließend zu einem einzigen fiktiven Horizont zusammengefasst, da RoGeR_1D_WBM nur mit einem Horizont rechnet. Hierfür wurde die Bodenmächtigkeit bis zum ersten Gesteins-Horizont oder dem ersten grundwasserbeeinflussten Horizont gewählt. Für die hydraulische Leitfähigkeit der Tiefenperkolation wurde die minimal vorkommende hydraulische Leitfähigkeit der Horizonte gewählt, da der Horizont mit der geringsten Leitfähigkeit ausschlaggebend ist, wieviel Wasser versickern kann. Ansonsten wurde das gewichtete arithmetische Mittel der Parameter bestimmt.
  </p>
  <p>
    Da die BÜK nicht lückenlos ist und nicht alle Böden parametrisiert sind, wurde diese mit der geologischen Übersichtskarte verschnitten. Anschließend wurden die definierten Bodengesellschaften ohne Hauptbodenprofil (nur das Profil mit dem größten Flächenanteil) durch Nachbar-Polygone ersetzt. Hierfür wurden zuerst versucht die Bodengesellschaft eines Nachbar-Polygon gleicher Geologie zu nutzen. Bei mehreren zutreffenden Polygonen wurde der Nachbar mit der größten gemeinsamen Grenze herangezogen. Wurde kein Nachbar mit gleicher Geologie ausfindig gemacht, wurde das Nachbar-Polygon mit der größten gemeinsamen Grenze genutzt. Dieser Prozess verschlechtert das Ergebnis, war aber notwendig, um in manchen Gebieten eine naturnahe Wasserbilanz zu berechnen. Daher wird der Anteil dieses Schrittes als Warnmeldung dem Ergebnis hinzugefügt.
  </p>
  <h4>Simulationspolygone</h4>
  <p>
    Um die Polygone zu definieren, für die eine Wasserbilanz-Simulation gemacht wurde, wurde zunächst die BÜK herangezogen (1.). 
    <br>Zusätzlich wurde um die 754 gewählte DWD-Stationen die Thiessen-Polygone bestimmt (2.). Diese Polygone zeichnen den Bereich ein, der der jeweiligen Station am nächsten ist. 
  </p><p>
    Diese beiden Polygone wurden anschließend miteinander verschnitten (3). Somit besitzt jedes Polygon einen Bodentyp und eine definierte Wetterstation. Hierbei wurden auch die Wasser-Polygone (Seen & Flüsse) ausgenommen, da diese sich durch die Urbanisierung nicht ändern außer sie wurden überbaut, was der Datengrundlage aber nicht zu entnehmen wäre. In diesem Fall wäre das NatUrWB-Modell nicht anwendbar, wobei die Bestimmung der Wasserbilanzgrößen recht einfach manuell zu bestimmen ist, da es zu 100&nbsp;% der potenziellen Evapotranspiration kommen würde und der Rest zum Oberflächenabfluss zu zählen wäre.
  </p><p>
    Da einige dieser Polygone (3) allerdings große Höhendifferenzen aufweisen, wurde für jedes Polygon die Standardabweichung des daruntergelegten digitalen 80&nbsp;x&nbsp;80&nbsp;Meter aufgelösten Höhenmodells<sup>5</sup> (4) bestimmt. Bei Polygonen mit einer Standardabweichung größer als 50&nbsp;Meter wurden diese weiter aufgeteilt, um kleinere Polygone mit einer geringeren Höhenvariabilität zu erhalten. Dies ist wichtig, da der Niederschlag stark von der Höhe abhängt und ansonsten diese Variabilität nicht abgebildet werden könnte.
  </p>
  <p>
    Zusätzlich wurden die Grenzen der Thiessen-Polygon-Verschneidung vereinfacht, indem Polygone an der Grenze, die kleiner als 25 ha sind, der Nachbar-Wetterstation zugezählt wurden. Da bei der Wahl der nächsten Wetterstation 100 Meter Genauigkeit keine Auswirkung hat, konnten hierdurch kleine Verschnitt-Polygone vereinfacht werden.
  </p><p>
    Diese Schritte sind in der folgenden schematischen Kartenübersicht grafisch für die Stadt Aschaffenburg dargestellt.
  </p>
  <img src="{% static '/plots/Vorgehensweise_Simulationspolygone_web.png' %}" alt="Verschiedene Karten die die Vorgehensweise der ersetllung der Simulationspolygone aufzeigen" class="img-fluid mb-4" style="max-height: 800px; max-width: 30cm;">

  <h4>Regionalisierung und Gefälle je Polygon</h4>
  <p>
    Die Wichtungsfaktoren für den Niederschlag, die Temperatur und die Evapotranspiration wurden für jedes der erstellten Simulations-Polygone bestimmt. Für Temperatur und Evapotranspiration wurde eine jährliche Wichtung angewendet und für den Niederschlag wurde eine Sommer- (April-September) und ein Winter-Wichtungsparameter (Oktober-März) bestimmt. Hierfür wurden die <a target="_blank" rel="noopener" href"https://opendata.dwd.de/climate_environment/CDC/grids_germany/multi_annual">langjährigen regionalisierten 1&nbsp;x&nbsp;1&nbsp;km Raster des DWDs</a> der Jahre 1981-2010 (bzw. für Et 1990-2010) genutzt. Mittels zonaler Statistik wurde für den Rastermittelpunkt jedes Polygons das jeweilige langjährige Mittel bestimmt und mit dem langjährigen Stationsmittelwert verglichen.
  </p>
  <p>
    Das Gefälle wurde anhand des digitalen Geländemodells mit in einer Auflösung von 80&nbsp;x&nbsp;80&nbsp;m<sup>5</sup> bestimmt. Anschließend wurde ebenfalls mit einer zonalen Statistik der Mittelwert der sich im Polygon befindenden Rastermittelpunkte bestimmt.
  </p>
  <h4>Landnutzung</h4>
  <p>
    Für jedes dieser Simulationspolygone wurden 13 verschiedenen Landnutzungstypen definiert. Hierüber wurden die Makroporendichte in Abhängigkeit der Landnutzung, die Verdunstungstiefe und der jahreszeitlich variierende Interzeptionsspeicher definiert.
    <br>Die definierte Landnutzungstype sind:
  </p>
  <ol start=0>
    <li>Felsen ohne Vegetation</li>
    <li value=2>Flächen mit spärlicher Vegetation</li>
    <li>Strände- Dünen und Sandflächen</li>
    <li>Heiden und Moorheiden / Wald-Strauch-Übergangsstadien</li>
    <li>Nicht bewässertes Ackerland</li>
    <li>Weinbauflächen</li>
    <li>Obst- und Beerenobstbestände</li>
    <li>Wiesen und Weiden / Natürliches Grünland</li>
    <li>Landwirtschaftlich genutztes Land mit Flächen natürlicher Bodenbedeckung von signifikanter Größe</li>
    <li>Laubwälder</li>
    <li>Mischwälder</li>
    <li>Nadelwälder</li>
    <li>Sümpfe / Torfmoore</li>
  </ol>
  <h4>Abfrage</h4>
  <p>
    Bei der Abfrage der Ergebnisse wird eine als naturnah angenommene Landnutzungsverteilung ermittelt. Hierfür wurden die Simulations-Polygone mit den Naturraumeinheiten des <a target="_blank" rel="noopener" href="http://www.hydrology.uni-freiburg.de/forsch/had/had_home.htm">Hydrologischen Atlasses Deutschlands</a><sup>3</sup> und dem Corine Land Cover Layer<sup>4</sup> verschnitten. Für jedes Verschnitt-Polygon wird anschließend in der gleichen Naturraumeinheit nach den nicht urbanen Landnutzungen gesucht. Deren Verteilung wird als die naturnahe Verteilung für dieses Polygon angesehen und die verschiedenen Modellergebnisse werden hiermit gewichtet gemittelt. 
  </p><p>
    Um auf die drei Hauptkomponenten des Wasserhaushaltes (Evapotranspiration, Grundwasserneubildung und Abfluss) zu kommen, musste der durch das RoGeR_WB_1D Modell bestimmte Zwischenabfluss aufgeteilt werden. Dieser Anteil beschreibt das Wasser, das in der ungesättigten Bodenzone horizontal abfließt. Je nach Gegebenheit fließt dieses Wasser anschließend dem Grundwasser oder einem nahe gelegenen Oberflächengewässer zu. Bei einem hohen Grundwasserspiegel ist davon auszugehen, dass der Zwischenabfluss zu einer schnellen Abflussreaktion in einem nahegelegenen Gewässer führt. Daher wurde das Kriterium so gewählt, dass der Zwischenabfluss dem Abfluss zugezählt wird, wenn der GW-Spiegel direkt oder im Bodenprofil ansteht oder der GW-Spiegel höher als 1&nbsp;m unter der Geländeoberfläche (GOF) liegt. Liegt das Grundwasser tiefer als 1&nbsp;m unter der GOF und tiefer als die definierte Bodensohle, wird der Zwischenabfluss der Grundwasserneubildung hinzugezählt.
  </p><p>
    Abschließend werden die verschiedenen Ergebnisse aller Polygone je nach Anteil im Untersuchungsgebiet gewichtet gemittelt, um auf eine NatUrWB-Referenzwert zu kommen.
  </p>
</div>

<div class="quellen" name="Quellen">
  <hr>
  <ol>
    <li>
      Steinbrich, Andreas; Henrichs, Malte; Leistert, Hannes; Scherer, Isabel; Schuetz, Tobias; Uhl, Mathias; Weiler, Markus (2018): Ermittlung eines naturnahen Wasserhaushalts als Planungsziel für Siedlungen. In: <i>Hydrologie und Wasserbewirtschaftung</i> 62 (6), S. 400–409. DOI: 10.5675/HYWA_2018.6_3. Online Verfügbar unter <a target="_blank" rel="noopener" href="http://www.hywa-online.de/ermittlung-eines-naturnahen-wasserhaushalts-als-planungsziel-fuer-siedlungen-2/">http://www.hywa-online.de/ermittlung-eines-naturnahen-wasserhaushalts-als-planungsziel-fuer-siedlungen-2/</a>
    </li>
    <li>
      Wessolek, Gerd; Kaupenjohann, Martin; Renger, Manfred (2009): Bodenphysikalische Kennwerte und Berechnungsverfahren für die Praxis. In: Bodenökologie und Bodengenese (40). Online verfügbar unter <a target="_blank" rel="noopener" href="https://www.researchgate.net/profile/Gerd_Wessolek/publication/294427537_Bodenphysikalische_Kennwerte_und_Berechnungsverfahren_fur_die_Praxis/links/56c0c55c08ae2f498ef99662.pdf">https://www.researchgate.net/profile/Gerd_Wessolek/publication/294427537_Bodenphysikalische_Kennwerte_und_Berechnungsverfahren_fur_die_Praxis/links/56c0c55c08ae2f498ef99662.pdf</a>, zuletzt geprüft am 10.02.2021.
    </li>
    <li>
      Bundesministerium für Umwelt Naturschutz und Reaktorsicherheit (Hg.) (2003): Hydrologischer Atlas von Deutschland (HAD). 3. Lieferung. Bonn.
    </li>
    <li>
      Bundesamt für Kartographie und Geodäsie (2012): Corine Land cover 10 ha. CLC20.
    </li>
    <li>
      Earth Resources Observation And Science (EROS) Center (2010): Shuttle Radar Topography Mission (SRTM). Digital Elevation Model. ~80&nbsp;x&nbsp;80&nbsp;m: U.S. Geological Survey.
    </li>
  </ol>
</div>

{% endblock %}