{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
  .table-center td, .table-center th{
    text-align:center;
  }
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top2 {
      position: -webkit-sticky;
      position: sticky;
      top: 165px;
      z-index: 1019;
    }
  }
</style>
<!-- For TOC -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" integrity="sha384-oJyFk/zeMJXNIGMVvmH262FT6dbSYss66WJHHgp1RlUk4/LfONQTzkAsHHwfcqat" crossorigin="anonymous">
<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js" integrity="sha384-OGf04BRlCdmgZXHhCupHT3BIkznbahjfhX8DKSIEXyU9PvSO0/8iMiiVJPcA5vi7" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<body data-bs-spy="scroll" data-bs-target="#toc">
  <div class="container"><div class="row">
    <div class="col-lg-2 order-lg-last">
      <nav id="toc" data-toggle="toc" class="sticky-top2"></nav>
    </div>

    <div class="text col-lg-10">
    <h2>Wie wird die NatUrWB-Referenz bestimmt?</h2>
    <p>
        Um zu verstehen, was hinter der bestimmten <b>nat</b>urnahen <b>u</b>rbanen <b>W</b>asser-<b>B</b>ilanz (NatUrWB) Referenz steht, ist im Folgen die  Vorgehensweise erläutert. Für ein Planungsgebiet in Siedlungen wird als Referenzzustand des Wasserhaushaltes der Wasserhaushalt des gleichen Gebietes mit nicht urbaner Landnutzung definiert. Hierbei wird die umliegende heutige Landnutzung als Kulturland ohne Siedlungsanteile auf gleichen Böden in ähnlicher Lage angenommen. Diese Herangehensweise wurde von einer Arbeitsgruppe im Rahmen des Projektes <a target="_blank" rel="noopener" href="https://bmbf.nawam-rewam.de/projekt/wasig/">WaSiG</a> entwickelt<sup><a href="#quelle-Steinbrich">1</a></sup>.
        <br>Grundsätzlich basieren die Werte auf Simulationen mit dem <a target="_blank" rel="noopener" href="https://www.hydrology.uni-freiburg.de/roger/">RoGeR_WB_1D</a> Wasserbilanz-Modell der Uni Freiburg. Hierfür musste ein Set aus Wetterdaten und Bodenprofilen erstellt werden. Im Folgenden werden die eingehenden Daten näher erläutert. 
    </p>
    <p>Eine ausführliche Beschreibung des Tools findet sich in der Publikation von Schmit et al. 2022 <sup><a href="#quelle-Schmit"></a></sup>.
    <h4>Wetterdaten</h4>
    <p>
      Um einzelne Flächen zu simulieren, wurde zuerst aus den Wetter-Stationen des Deutschen Wetterdienstes (DWD) die Stationen mit ausreichend und qualitativ guten Daten für die Wasserbilanz-Simulationen ausgewählt. Diese Selektion ergab 754 mögliche Stationen um den Zeitraum vom 01.01.2009 bis zum 31.12.2019 mit 10-minütigen Niederschlagsdaten simulieren zu können. 
      <br>Bestehende Datenlücken einzelner Stationen wurden anschließend durch eine Regionalisierung von benachbarten Stationen aufgefüllt. Hierfür wurden die regionalisierten, langjährigen Rasterdaten vom DWD, die den Zeitraum von 1991 bis 2020 berücksichtigen, herangezogen. Daraus wurden die jährlichen Wichtungsfaktoren für die Temperatur- und die Evapotranspirationsdaten zwischen den Stationen bestimmt. Für den Niederschlag wurde hierfür ein halbjährlicher Wichtungsfaktor für Sommer (April-September) und Winter (Oktober-März) bestimmt.
      <br>Die gefüllten Niederschlag-Zeitreihen werden anschließend noch nach Richter (1995) korrigiert. 
    </p><p>
      Anschließend wurden die Wetterdaten auf die langjährigen Stationsmittelwerte normiert, um die jährlichen Schwankungen auszugleichen. Dies ist in den folgenden zwei Diagrammen näher erläutert. Hier wurde jeweils für die Temperaturen bzw. den Niederschlag, der Unterschied zum langjährigen Mittelwert dargestellt. Dabei wird der Niederschlag als Quotient des gemessenen jährlichen Mittelwertes zum langjährigen (1991-2020) Mittelwert angezeigt. Liegt der Quotient bei 1, entspricht das gewählte Jahr einem durchschnittlichen Klimajahr. Ist der Quotient über eins, handelt es sich um ein niederschlagsreicheres Jahr als der langjährige Durchschnitt. Bei der Temperatur wird die absolute Differenz zum langjährigen Mittelwert angezeigt. 
      <br>Des Weiteren ist der Mittelwert dieses Quotienten, bzw. Differenz, über die 11&nbsp;Jahre Simulationsdauer als gestrichelte Linie dargestellt. Durch die orangenen Linien lässt sich erkennen, dass der Zeitraum von 2009 bis 2019 trockener und wärmer als der langjährige Mittelwert ist. Die blauen Linien zeigen den Verlauf der korrigierten Wetterdaten an. Dieser liegt für den Niederschlag im Mittel bei eins und entspricht daher dem langjährigen Mittel.
    </p>
      <br>
      <div class="row">
        <div class="col-xl-6">
          <img src="{% static '/plots/02_measured_yearly_div_multi_annual_91-20_adjust-orig_n.png' %}" class="img-fluid" alt="Ein Diagramm des Verhältnisses des jährlichen Mittelwertes zum langjährigen Mittelwert des Niederschlags" >
        </div>
        <div class="col-xl-6">
            <img src="{% static '/plots/02_measured_yearly_div_multi_annual_91-20_adjust-orig_t.png' %}" class="img-fluid" alt="Ein Diagramm des Verhältnisses des jährlichen Mittelwertes zum langjährigen Mittelwert der Temperatur">
        </div>
      </div>
    <p>
      Die Wetterdaten weisen also weiterhin eine jährliche Schwankung auf, entsprechen aber über elf Jahre gemittelt dem langjährigen Klimamittel. Folglich sind die erhaltenen NatUrWB-Referenzwerte auch als langjährige Mittelwerte anzusehen.
    </p>
    <h4>Bodenprofile</h4>
    <p>
      Um die Böden für die Simulationen der Wasserbilanz zu parametrisieren, wurde die <a target="_blank" rel="noopener" target="_blank" rel="noopener" href="https://www.bgr.bund.de/DE/Themen/Boden/Informationsgrundlagen/Bodenkundliche_Karten_Datenbanken/BUEK200/buek200_node.html">Bodenübersichtskarte</a> (BÜK) der Bundesanstalt für Geologie und Rohstoffe herangezogen. In dieser sind für ganz Deutschland die Böden in Bodengesellschaften gruppiert und ihr geografisches Auftreten definiert. Jede Bodengesellschaft besteht aus mehreren Bodenprofilen mit den jeweiligen Bodenhorizonten.
      <br>Die Ableitung der RoGeR Parameter aus der BÜK ist in Anlehnung an Steinbrich et al. (2018)<sup><a href="#quelle-Steinbrich">5</a></sup> geschehen. Hierbei wurde für jeden Bodenhorizont mithilfe der Pedotransferfunktionen von Wessolek et al. (2009)<sup><a href="#quelle-Wessolek">2</a></sup> <i>"die gesättigte hydraulische Leitfähigkeit (K<sub>sat</sub>), die nutzbare Feldkapazität (nFK), die Luftkapazität (LK), sowie die Funktion des Horizontes als Basis des Feinbodens (Gestein, Stauhorizont, Grundwasserbeeinflussung) ermittelt."</i> 
      <br>Diese Horizontparameter wurden anschließend zu einem einzigen fiktiven Horizont zusammengefasst, da RoGeR_1D_WBM nur mit einem Horizont rechnet. Hierfür wurde die Bodenmächtigkeit bis zum ersten Gesteins-Horizont oder dem ersten grundwasserbeeinflussten Horizont gewählt. Für die hydraulische Leitfähigkeit der Tiefenperkolation wurde die minimal vorkommende hydraulische Leitfähigkeit der Horizonte gewählt, da der Horizont mit der geringsten Leitfähigkeit ausschlaggebend ist, wieviel Wasser versickern kann. Ansonsten wurde das gewichtete arithmetische Mittel der Parameter bestimmt.
    </p>
    <p>
      Da die BÜK nicht lückenlos ist und nicht alle Böden parametrisiert sind, wurde diese mit der geologischen Übersichtskarte verschnitten. Anschließend wurden die definierten Bodengesellschaften ohne Hauptbodenprofil (nur das Profil mit dem größten Flächenanteil) durch Nachbar-Polygone ersetzt. Hierfür wurden zuerst versucht die Bodengesellschaft eines Nachbar-Polygon gleicher Geologie zu nutzen. Bei mehreren zutreffenden Polygonen wurde der Nachbar mit der größten gemeinsamen Grenze herangezogen. Wurde kein Nachbar mit gleicher Geologie ausfindig gemacht, wurde das Nachbar-Polygon mit der größten gemeinsamen Grenze genutzt. Dieser Prozess verschlechtert das Ergebnis, war aber notwendig ist, um in manchen Gebieten eine naturnahe Wasserbilanz zu berechnen. Daher wird der Anteil dieses Schrittes als Warnmeldung dem Ergebnis hinzugefügt.
    </p>
    <h4>Modellgebiete</h4>
    <p>Um die Polygone zu definieren, für die eine Wasserbilanz-Simulation gemacht wurde, wurde zunächst die im Abschnitt davor gefüllte BÜK herangezogen (1.). Zunächst wurden Wasser-Polygone (Seen & Flüsse) ausgenommen, da diese sich durch die Urbanisierung nicht ändern außer sie würden überbaut werden, was der Datengrundlage aber nicht zu entnehmen wäre. In diesem Fall wäre das NatUrWB-Modell nicht anwendbar, wobei die Bestimmung der Wasserbilanzgrößen recht einfach manuell zu bestimmen ist, da es zu 100&nbsp;% der potenziellen Evapotranspiration kommen würde und der Rest zum Oberflächenabfluss zu zählen wäre.</p>
    <p>Der Niederschlag ist sehr stark von der Topographie abhängig und die Evapotranspiration stark von der Exposition. Weiterhin hat das Gefälle einen großen Einfluss auf den modellierten Oberflächen- und Zwischenabfluss. Da für die Modellierung jeweils nur ein Set an Klima-Wichtungsparametern und ein Gefälle angesetzt wird, sollten die definierten Modellgebiete daher möglichst wenig Variabilität dieser Parameter aufweisen. Aus diesem Grund wurden die Polygone der BÜK250 weiter aufgeteilt um möglichst homogene Gebiete zu beschreiben.
    <p>Hierfür wurde zuerst aus einem Digitalen Geländemodel<sup><a href="#quelle-DGM5">5</a></sup>, das auf eine Auflösung von 20&nbsp;m skaliert wurde, das Gefälle und die gesamt einfallende Strahlung im Verhältnis zu einem flachen Gelände (Sonneneinstrahlungs-Faktor) bestimmt. Je Raster wurde folgender Arbeitsablauf durchlaufen:</p>
    <ol>
      <li>Die Standardabweichung des Parameters je Polygon wurden mit zonaler Statistik bestimmt.</li>
      <li>Polygone die über einem gewissen Grenzwert (siehe Tabelle) liegen wurden ausgewählt.</li>
      <li>Je Polygon wurden Klassengrenzen bestimmt, die das jeweilige darunterliegende Raster in gleich große Gruppen von maximal X Einheiten (siehe Tabelle) einteilt.</li>
      <li>Aus dem jeweiligen Raster wurden die Konturlinien dieser Klassengrenzen ermittelt</li>
      <li>Das Polygon wurde mittels dieser Konturlinien aufgeteilt.</li>
      <li>Damit nicht zu viele kleine Polygone entstehen, wurden Polygone die kleiner als 8&nbsp;ha sind vereinfacht indem Sie dem Nachbarpolygon zugeordnet wurden.</li>
    </ol>
    <p>Je nach Raster wurden hierfür andere Grenzwerte genutzt die in der folgenden Tabelle aufgelistet sind.</p>
    <div class="col-12 col-lg-10 col-xl-8">
    <table class="table table-striped table-bordered table-hover table-center">
      <caption>Liste der genutzten Grenzen der Standardabweichungen und Gruppeneinteilung je Raster.</caption>
      <thead>
        <tr>
          <th scope="col">#</th> 
          <th scope="col">Raster</th> 
          <th scope="col">Grenze der Standardabweichung</th> 
          <th scope="col">Einteilung in Gruppen von maximal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Topografie</td>
          <td>50&nbsp;m</td>
          <td>100&nbsp;m</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Gefälle</td>
          <td>10&nbsp;°</td>
          <td>15&nbsp;°</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Sonneneinstrahlungs-Faktor</td>
          <td>15&nbsp;%</td>
          <td>20&nbsp;%</td>
        </tr>
      </tbody>
    </table></div>
    <p>Die folgende Abbildung stellt diesen Prozess Beispielhaft für ein Polygon dar<sup><a href="#quelle-Schmit"></a></sup>:</p>
    <figure class="figure">
      <img src="{% static '/plots/Anpassung_Raster_DEM.png' %}" alt="beispielhafte Darstellung der Vorgehensweise zur Aufteilung der Polygone in Abhängigkeit des Rasters" class="img-fluid mb-4 figure-img">
    </figure>
    <p>Weiterhin werden Polygone die größer als 1 km<sup>2</sup> sind mit den Thiessen-Polygonen der Wetterstationen verschnitten, damit eine gute Zuordnung der Polygone zu den Wetterstationen möglich ist. Anschließend wird jedem Polygon die jeweils nächst gelegene Wetterstation zugeordnet.</p> 
    <p>Die sich so ergebenden Polygone werden im folgenden Modellgebiete genannt.</p>
    
    <h4>Regionalisierung und Gefälle je Modellgebiet</h4>
    <p>
      Die Wichtungsfaktoren für den Niederschlag und die Evapotranspiration und der Zuschlag für die Temperatur wurden für jedes der erstellten Modellgebiete bestimmt um die Stationsdaten auf das Modellgebiet zu regionalisieren. Für Evapotranspiration wurde eine jährliche Wichtung und für die Temeratur ein jährlicher Zuschlag bestimmt. Für den Niederschlag wurde eine Sommer- (April-September) und ein Winter-Wichtungsparameter (Oktober-März) bestimmt. Hierfür wurden die <a target="_blank" rel="noopener" href"https://opendata.dwd.de/climate_environment/CDC/grids_germany/multi_annual">langjährigen regionalisierten 1&nbsp;x&nbsp;1&nbsp;km Raster des DWDs</a> der Jahre 1991-2020 genutzt. Mittels zonaler Statistik wurde für jedes Polygons das jeweilige langjährige Mittel bestimmt und mit dem langjährigen Stationsmittelwert (ebenfals aus dem Raster) verglichen.
    </p>
    <p>Für die Evapotranspiration wurde zusätzlich zu diesem Höhenfaktor noch ein Expositionsfaktor bestimmt. Hierfür wurde die Sonneneinstrahlung aus dem digitalen Geländemodell mit in einer Auflösung von 5&nbsp;x&nbsp;5&nbsp;m&nbsp;<sup><a href="#quelle-DGM5">5</a></sup>, das auf 20&nbsp;m hochskaliert wurde, mit SAGA<sup><a href='#quelle-SAGA'></a></sup> bestimmt. Der Expositionsfaktor ergibt sich dann aus dem Verhältnis der mittleren Rasterwerte im Modellgebiet zum Wert an der Station. Das Produkt aus dem Höhenfaktor und dem Expositionsfaktor ergibt den Wichtungsfaktor für die ET.
    </p>
    <p>Das Gefälle wurde anhand des digitalen Geländemodells mit in einer Auflösung von 5&nbsp;x&nbsp;5&nbsp;m&nbsp;<sup><a href="#quelle-DGM5">5</a></sup>, das auf 20&nbsp;m hochskaliert wurde, bestimmt. Anschließend wurde ebenfalls mit einer zonalen Statistik der Mittelwert der sich im Modellgebiet befindenden Rastermittelpunkte bestimmt.</p>
    <h4>Landnutzung</h4>
    <p>Für jedes dieser Modellgebiete wurden 13 verschiedenen Landnutzungstypen definiert. Hierüber wurden die Makroporen in Abhängigkeit der Landnutzung, die Verdunstungstiefe und der jahreszeitlich variierende Interzeptionsspeicher definiert.
      <br>Die definierte Landnutzungstype sind:</p>
    <div class="container pl-0">
      <ol start=0>
        <li>Felsen ohne Vegetation</li>
        <li value=2>Flächen mit spärlicher Vegetation</li>
        <li>Strände- Dünen und Sandflächen</li>
        <li>Heiden und Moorheiden / Wald-Strauch-Übergangsstadien</li>
        <li>Nicht bewässertes Ackerland</li>
        <li>Weinbauflächen</li>
        <li>Obst- und Beerenobstbestände</li>
        <li>Wiesen und Weiden / Natürliches Grünland</li>
        <li>Landwirtschaftlich genutztes Land mit Flächen natürlicher Bodenbedeckung von signifikanter Größe</li>
        <li>Laubwälder</li>
        <li>Mischwälder</li>
        <li>Nadelwälder</li>
        <li>Sümpfe / Torfmoore</li>
      </ol>
    </div>
    <h4>Abfrage</h4>
    <p>
      Bei der Abfrage der Ergebnisse wird eine als naturnah angenommene Landnutzungsverteilung ermittelt. Hierfür wurden die Modellgebiete mit den Naturraumeinheiten des <a target="_blank" rel="noopener" href="http://www.hydrology.uni-freiburg.de/forsch/had/had_home.htm">Hydrologischen Atlasses Deutschlands</a><sup><a href="#quelle-HAD">3</a></sup> und dem Corine Land Cover Layer<sup><a href="#quelle-CLC5"></a></sup> verschnitten. Für jedes Verschnitt-Polygon wird anschließend in der gleichen Naturraumeinheit nach den nicht urbanen Landnutzungen gesucht. Deren Verteilung wird als die naturnahe Verteilung für dieses Polygon angesehen und die verschiedenen Modellergebnisse werden hiermit gewichtet gemittelt. 
    </p><p>
      Um auf die drei Hauptkomponenten des Wasserhaushaltes (Evapotranspiration, Grundwasserneubildung und Direktabfluss) zu kommen, musste der durch das RoGeR_WB_1D Modell bestimmte Zwischenabfluss aufgeteilt werden. Dieser Anteil beschreibt das Wasser, das in der ungesättigten Bodenzone horizontal abfließt oder das in Gebieten mit einem hohen Grundwasserstand ins Grundwasser perkoliert ist. Da der Zwischenabfluss im Allgemeinen zu schnellen Abflussreaktionen führt, wird er dem Direktabfluss hinzugezählt. 
    </p><p>
      Abschließend werden die verschiedenen Ergebnisse aller Polygone je nach Anteil im Untersuchungsgebiet gewichtet gemittelt, um auf eine NatUrWB-Referenzwert zu kommen.
    </p>
    </div>

  </div></div>
</body>

<div class="quellen" name="Quellen">
  <hr>
  <ol>
    <li id="quelle-Schmit">Schmit, Max; Leistert, Hannes; Steinbrich, Andreas; Weiler, Markus (2022): Webtool zur Ermittlung der naturnahen urbanen Wasserbilanz (NatUrWB), Korrespondenz Wasserwirtschaft, DWA, DOI: 10.3243/kwe2022.09.002
      Online verfügbar unter <a target="_blank" rel="noopener" href="https://freidok.uni-freiburg.de/data/229574">https://freidok.uni-freiburg.de/data/229574</a>, zuletzt geprüft am 20.12.2022.</li>
    <li id="quelle-Steinbrich">
      Steinbrich, Andreas; Henrichs, Malte; Leistert, Hannes; Scherer, Isabel; Schuetz, Tobias; Uhl, Mathias; Weiler, Markus (2018): Ermittlung eines naturnahen Wasserhaushalts als Planungsziel für Siedlungen. In: <i>Hydrologie und Wasserbewirtschaftung</i> 62 (6), S. 400–409. DOI: 10.5675/HYWA_2018.6_3. Online Verfügbar unter <a target="_blank" rel="noopener" href="http://www.hywa-online.de/ermittlung-eines-naturnahen-wasserhaushalts-als-planungsziel-fuer-siedlungen-2/">http://www.hywa-online.de/ermittlung-eines-naturnahen-wasserhaushalts-als-planungsziel-fuer-siedlungen-2/</a>
    </li>
    <li id="quelle-Wessolek">
      Wessolek, Gerd; Kaupenjohann, Martin; Renger, Manfred (2009): Bodenphysikalische Kennwerte und Berechnungsverfahren für die Praxis. In: Bodenökologie und Bodengenese (40). Online verfügbar unter <a target="_blank" rel="noopener" href="https://www.researchgate.net/profile/Gerd_Wessolek/publication/294427537_Bodenphysikalische_Kennwerte_und_Berechnungsverfahren_fur_die_Praxis/links/56c0c55c08ae2f498ef99662.pdf">https://www.researchgate.net/profile/Gerd_Wessolek/publication/294427537_Bodenphysikalische_Kennwerte_und_Berechnungsverfahren_fur_die_Praxis/links/56c0c55c08ae2f498ef99662.pdf</a>, zuletzt geprüft am 10.02.2021.
    </li>
    <li id="quelle-HAD">
      Bundesministerium für Umwelt Naturschutz und Reaktorsicherheit (Hg.) (2003): Hydrologischer Atlas von Deutschland (HAD). 3. Lieferung. Bonn.
    </li>
    <li id="quelle-CLC5">
      Bundesamt für Kartographie und Geodäsie (2018): Corine Land Cover 5 ha. CLC5.
    </li>
    <li id="quelle-DGM5">
      GeoBasis-DE: Bundesamt für Kartographie und Geodäsie. 2016. Digitales Geländemodell Gitterweite 5 m. DGM5. Produktstand: 2016. Online verfügbar unter <a target="_blank" rel="noopener" href="https://gdz.bkg.bund.de/index.php/default/digitale-geodaten/digitale-gelandemodelle/digitales-gelandemodell-gitterweite-5-m-dgm5.html">https://gdz.bkg.bund.de/index.php/default/digitale-geodaten/digitale-gelandemodelle/digitales-gelandemodell-gitterweite-5-m-dgm5.html</a>, zuletzt geprüft am 08.11.2021.
    </li>
    <li id="quelle-SAGA">
      SAGA-GIS - potential incoming solar radiation. 2010. Conrad O. Online verfügbar unter <a target="_blank" rel="noopener" href="https://saga-gis.sourceforge.io/saga_tool_doc/2.2.2/ta_lighting_2.html">https://saga-gis.sourceforge.io/saga_tool_doc/2.2.2/ta_lighting_2.html</a>, zuletzt geprüft am 02.06.2022.
    </li>
  </ol>
</div>
{% endblock %}

{% block scripts %}
  <script src={% static 'js/enum_references.min.js' %} defer></script>
{% endblock%}